.App {
  background: #ecf0f1; }
  .App .App-header {
    background-color: #34495e;
    padding: 10px;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center; }
    .App .App-header .App-logo {
      height: 30px; }
    .App .App-header .App-title {
      font-size: 16px;
      margin-left: 10px; }
  .App .App-container {
    width: 100%;
    padding: 10px;
    box-sizing: border-box; }
    @media only screen and (min-width: 460px) {
      .App .App-container {
        width: 50%;
        margin: auto; } }
